<ion-view view-title="Job Detail">
  <ion-content class="padding">
    <h1>Job 1</h1>
    <br/>
    <br/>
     <div class="row">
   <div class="col text-center">
    <h3> Check In Time&nbsp&nbsp&nbsp&nbsp: 00:00:00 </h3>
	<h3> Check Out Time&nbsp: 00:00:00 </h3>
  <br/>
  <br/>
 
    <button class="button button-assertive"  disabled="true">Check In</button>
   </div>
  </div>
  </ion-content>
</ion-view>
<!--<ion-footer-bar align-title="left" class="bar-light">
  <button class="button button-block button-positive" style="margin-top: 0px" ng-click="accept()">
  Accept 
</button>
</ion-footer-bar>-->