<ion-view view-title="Online Training">
	<ion-content class="padding">
        <ion-list>
		<div class="card" onclick="window.open('https://drive.google.com/file/d/0B9zeJP9_xZt2dUdJZUFqa3ppVTA/preview','_blank','location=no');return false; ">
            <ion-item>
                <H2>Class 1</H2>
                <p>Video Tutorial</p>
            </ion-item>
        </div>
        <div class="card" onclick="window.open('https://docs.google.com/viewer?url=http://www.orimi.com/pdf-test.pdf&embedded=true','_blank','location=no');return false; ">
            <ion-item>
                <H2>Class 2</H2>
                <p>PDF Tutorial</p>
            </ion-item>
        </div>
        <!--<iframe src="https://drive.google.com/file/d/0B9zeJP9_xZt2dUdJZUFqa3ppVTA/preview" width="640" height="480"></iframe>-->
        <!--<div class="card">
            <ion-item>
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/gvI2ClWqHO0" frameborder="0" width="560" height="315"></iframe>
                </div>
            </ion-item>
        </div>
        <div class="card">
            <ion-item>
                <div class="video-container">
                    <iframe src="http://www.youtube.com/embed/uJAWaE11Jf4" frameborder="0" width="560" height="315"></iframe>
                </div>
            </ion-item>
        </div>-->
        <!--</ion-list>
        <a class="item" href="#" onclick="window.open('https://docs.google.com/viewer?url=http://www.orimi.com/pdf-test.pdf&embedded=true','_blank','location=no');return false; ">
                Open a Google+ Client or Browser
            </a>-->
            
	</ion-content>
</ion-view>
<ion-footer-bar align-title="left" class="bar-light">
  <a class="button button-block button-positive" style="margin-top: 0px" href="#/menu/quiz">
  Finish and Take Quiz 
</a>
</ion-footer-bar>