<ion-view view-title="January">
  <ion-content class="padding">
      
    <ion-list>
      <!--<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">-->
      <ion-item type="item-text-wrap" >
        <div class="row">
            <div class="col"><p>User 1:</p></div>
            <div class="col"><p>100 $</p></div>
        </div>
        

      </ion-item>
      <ion-item type="item-text-wrap" >
        <div class="row">
            <div class="col"><p>User 2:</p></div>
            <div class="col"><p>200 $</p></div>
        </div>
      </ion-item>
       <ion-item type="item-text-wrap" >
        <div class="row">
            <div class="col"><p>Total:</p></div>
            <div class="col"><p>300 $</p></div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
