<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="TrainingDetail">
  <ion-content class="padding">
    <h1>Training Detail</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu mi eros. Nam a lectus vitae lectus faucibus viverra. Nunc in leo tellus. Vestibulum vel mauris eu neque maximus tincidunt et eget sapien. Donec dignissim, nunc vitae pretium maximus, lorem odio lacinia nunc, id auctor ipsum quam ac eros. Integer finibus eros sem, et vulputate diam cursus et. Cras quis augue faucibus, convallis lacus at, accumsan justo. Suspendisse quis tempor sapien. Cras lacus felis, pharetra sed rhoncus at, finibus ut sem. Proin eleifend sem ac feugiat vulputate. Vestibulum vitae mi vitae nisi commodo laoreet. Vivamus maximus erat enim, at pharetra.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu mi eros. Nam a lectus vitae lectus faucibus viverra. Nunc in leo tellus. Vestibulum vel mauris eu neque maximus tincidunt et eget sapien. Donec dignissim, nunc vitae pretium maximus, lorem odio lacinia nunc, id auctor ipsum quam ac eros. Integer finibus eros sem, et vulputate diam cursus et. Cras quis augue faucibus, convallis lacus at, accumsan justo. Suspendisse quis tempor sapien. Cras lacus felis, pharetra sed rhoncus at, finibus ut sem. Proin eleifend sem ac feugiat vulputate. Vestibulum vitae mi vitae nisi commodo laoreet. Vivamus maximus erat enim, at pharetra.
    </p>
    
  </ion-content>
</ion-view>
<ion-footer-bar align-title="left" class="bar-light">
  <button class="button button-block button-positive" style="margin-top: 0px" ng-click="onlinetraining()">
  Online Training 
</button><br/>
<button class="button button-block button-positive" style="margin-top: 0px" ng-click="classroom()">
  Classroom Training
</button>
</ion-footer-bar>